<template>
<div id="about-region" class="col-sm-4">
  <div class="row">
    <div class="dataregion-content scroller">
      <h2 class="region-header muted"><i class="fa fa-info-circle"></i> About This App</h2>
      <a id="close-location-data" class="panel-close-link" v-on:click="hideAboutPanel"><i class="fa fa-close fa-fw"></i></a>
      <div>
        <p>This app is a personal project, built for fun and to explore various tools, techniques, APIs and ideas. </p>
        <p>Built with Laravel 5.4 (PHP) and MySQL on the backend, and using VueJS and Bootstrap on the front-end</p>
        <p>This is the second iteration of this app, built over a couple of weeks in June 2017. There are LOTS of ideas in the works for improvements and new features, so be sure to check back regularly</p>
        <!-- <p>If you are interested in the code behind this application, you can <a href="https://bitbucket.org/snowmeister/snowmap" target="blank">find the source on BitBucket</a></p> -->
        <h3>APIs &amp; Data Used</h3>


        <ul class="list list-unstyled">
          <li><a href="https://developer.adzuna.com/">Adzuna API</a> for Motors Search</li>
          <li><a href="https://developer.zoopla.co.uk/">Zoopla API</a> for Property Sales & Lettings Search</li>
          <li><a href="https://data.police.uk/docs/">UK Police API</a>for Street Level Crime data</li>
          <li><a href="https://postcodes.io/">Postcodes.io API</a> for Lat/Lng to Postcode Geocoding</li>
          <li><a href="https://courttribunalfinder.service.gov.uk/api.html">Courtfinder's API</a> to look up Courts and Tribunals.</li>
          <li>Various datasets from the <a href="https://data.gov.uk/data/search">Data.gov.uk</a> open datasets, including UK Schools, and Broadband speeds.</li>
          <li><a href="https://developers.google.com/maps/documentation/javascript/">Google Maps v3 API</a></li>
          <li><a href="https://developers.google.com/chart/">Google Charts API</a></li>

        </ul>


      </div>
      <snowfooter></snowfooter>
    </div>
  </div>
</div>
</template>
<script>
export default {
  methods:{
    hideAboutPanel(){
    this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
    this.$parent.currentWindow = null;

    }
  }
}
</script>
