<template>
<div class="alert alert-dismissible" :class="alerttype" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" v-on:click="resetalert"><span aria-hidden="true">&times;</span></button>
  <p><i class="fa fa-fw" :class="icon"></i><strong>{{title}}</strong></p>
  <p><strong>{{ strong }}</strong> {{message}}</p>
</div>
</template>
<script>
export default {
  props: ['alerttype', 'icon', 'message', 'title', 'strong'],
  data: function() {
    return {}
  },
  methods: {
    resetalert(){
      this.$root.currenterror = null;
    }
  }
}
</script>
