<template>
  <div class="col-sm-12">
    <div class="form-group">
      <label for="cmbBedrooms">Number of bedrooms:</label>
      <ul class="list list-unstyled list-inline">
        <!-- <li class="property-bed-picker-item">Studio</li> -->
        <li class="property-bed-picker-item" v-model="$root.numbedrooms" v-bind:class="{selected: $root.numbedrooms === 1}" v-on:click="setNumBedrooms">1</li>
        <li class="property-bed-picker-item" v-model="$root.numbedrooms" v-bind:class="{selected: $root.numbedrooms === 2}" v-on:click="setNumBedrooms">2</li>
        <li class="property-bed-picker-item" v-model="$root.numbedrooms" v-bind:class="{selected: $root.numbedrooms === 3}" v-on:click="setNumBedrooms">3</li>
        <li class="property-bed-picker-item" v-model="$root.numbedrooms" v-bind:class="{selected: $root.numbedrooms === 4}" v-on:click="setNumBedrooms">4</li>
        <li class="property-bed-picker-item" v-model="$root.numbedrooms" v-bind:class="{selected: $root.numbedrooms === 5}" v-on:click="setNumBedrooms">5 +</li>
      </ul>
    </div>
  </div>
</template>


<script>
export default {
  mounted() {

  },
  data: function() {
    return {
      numbedrooms: this.$root.numbedrooms
    }
  },
  methods: {
    setNumBedrooms:function(event){
      this.$root.numbedrooms = parseInt(event.target.innerHTML.replace('+', ''))
    }
  }
}
</script>
