<template>
<div id="broadbandstats" class="col-sm-4">
  <div class="row">
    <div class="dataregion-content scroller">
      <h2 class="region-header muted"><i class="fa fa-wifi"></i> Broadband Stats</h2>

  <a id="close-alert-data" class="panel-close-link" v-on:click="closealert" ><i class="fa fa-close fa-fw"></i></a>
          <div class="alert alert-danger">
           <p><strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{$root.currenterror.title}}</strong></p>
           <p>{{$root.currenterror.message}}</p>

          </div>
          <p class="code">
            <pre>{{$root.currenterror.error}}</pre>
          </p>
          <snowfooter></snowfooter>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  mounted() {

  },
  // props: ['postcodes, broadband'],
  data: function() {
    return {

    }
  },
  methods: {

    closealert: function(event){
      this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
      this.$parent.currentWindow = null;
    }
  }
}
</script>
