<template>
<div id="broadbandstats" class="col-sm-4">
  <div class="row">
    <div class="dataregion-content scroller">
      <h2 class="region-header muted"><i class="fa fa-wifi"></i> Broadband Stats</h2>
  <h1 class="region-header"><small>Showing data for {{broadband.structured_postcode}}</small></h1>
  <a id="close-location-data" class="panel-close-link" v-on:click="hideBroadbandData" ><i class="fa fa-close fa-fw"></i></a>
  <div class="">
            <div class="">
              <h4>Download Speeds </h4>
              <ul class="list list-unstyled">
              <li>Maximum: <strong>{{broadband.Max_download_speed_Mbits}} Mbps</strong></li>
              <li>Minimum: <strong>{{broadband.Min_download_speed_Mbits}} Mbps</strong></li>
              <li>Average: <strong>{{broadband.Avg_download_speed_Mbits}} Mbps</strong></li>
            </ul></div>
            <div class="">
              <h4>Upload Speeds </h4>
              <ul class="list list-unstyled">
              <li>Maximum: <strong>{{broadband.Max_ul_spd_Mbits}} Mbps</strong></li>
              <li>Minimum: <strong>{{broadband.Min_ul_spd_Mbits}} Mbps</strong></li>
              <li>Average: <strong>{{broadband.Avg_ul_spd_Mbits}} Mbps</strong></li>
            </ul></div>
            <div class="">
              <h4>Connections by Speed </h4>
              <ul class="list list-unstyled">
                  <li v-if="parseInt(broadband.Num_conns_below_2Mbits_num_lines) == 1"><strong>{{broadband.Num_conns_below_2Mbits_num_lines}}</strong> property has a connection slower than 2 Mbps</li>
                  <li v-if="parseInt(broadband.Num_conns_below_2Mbits_num_lines) != 1"><strong>{{broadband.Num_conns_below_2Mbits_num_lines}}</strong> properties have connections slower than 2 Mbps</li>
                  <li v-if="parseInt(broadband.Num_conns_from_2_to_5Mbits_num_lines) == 1"><strong>{{broadband.Num_conns_from_2_to_5Mbits_num_lines}}</strong> property has a connection between 2 and 5 Mbps</li>
                  <li v-if="parseInt(broadband.Num_conns_from_2_to_5Mbits_num_lines) != 1"><strong>{{broadband.Num_conns_from_2_to_5Mbits_num_lines}}</strong> properties have a connection between 2 and 5 Mbps</li>
                  <li v-if="parseInt(broadband.Num_conns_from_5_to_10Mbits_num_lines) == 1"><strong>{{broadband.Num_conns_from_5_to_10Mbits_num_lines}}</strong> property has a connection between 5 and 10 Mbps</li>
                  <li v-if="parseInt(broadband.Num_conns_from_5_to_10Mbits_num_lines) != 1"><strong>{{broadband.Num_conns_from_5_to_10Mbits_num_lines}}</strong> properties have a connection between 5 and 10 Mbps</li>
                  <li v-if="parseInt(broadband.Num_conns_from_10_to_30Mbits_num_lines) == 1"><strong>{{broadband.Num_conns_from_10_to_30Mbits_num_lines}}</strong> property has a connection between 10 and 30 Mbps</li>
                  <li v-if="parseInt(broadband.Num_conns_from_10_to_30Mbits_num_lines) != 1"><strong>{{broadband.Num_conns_from_10_to_30Mbits_num_lines}}</strong> properties have a connection between 10 and 30 Mbps</li>
                  <li v-if="parseInt(broadband.Num_conns_over_30Mbits_num_lines) == 1"><strong>{{broadband.Num_conns_over_30Mbits_num_lines}}</strong> property has a connection faster than 30 Mbps</li>
                  <li v-if="parseInt(broadband.Num_conns_over_30Mbits_num_lines) != 1"><strong>{{broadband.Num_conns_over_30Mbits_num_lines}}</strong> properties have a connection faster than 30 Mbps</li>
                  <li v-if="parseInt(broadband.Num_conns_over_300Mbits_num_lines) == 1"><strong>{{broadband.Num_conns_over_300Mbits_num_lines}}</strong> property has a connection faster than 300 Mbps</li>
                  <li v-if="parseInt(broadband.Num_conns_over_300Mbits_num_lines) != 1"><strong>{{broadband.Num_conns_over_300Mbits_num_lines}}</strong> properties have a connection faster than 300 Mbps</li>
              </ul>
            </div>
            <div>
              <h4>About this data</h4>
              <p>The broadband data used on this site if from OFCOMS statistics for <a href="https://www.ofcom.org.uk/research-and-data/telecoms-research/broadband-research/uk-home-broadband-performance-2016?SQ_VARIATION_100598=0" target="_blank">UK home broadband performance</a></p>
            </div>
          </div>
          <snowfooter></snowfooter>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  mounted() {

  },
  // props: ['postcodes, broadband'],
  data: function() {
    return {
      postcodes: this.$parent.postcodes,
      broadband: this.$parent.broadband
    }
  },
  methods: {
    hideBroadbandData:function(event){
      if(event){
        this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
        this.$parent.autoCenter();
        this.$parent.currentWindow = null;
      }
    }
  }
}
</script>
