<style scoped>
.color-swatch {
  cursor: pointer;
  width: auto;
  height: 24px;
  margin:5px;
  font-weight: bold;
  text-transform: capitalize;
  /*border: 1px solid #666666;*/
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  opacity: 1;
  padding-left:10px;
  padding-right:10px;
}
.color-swatch a{
  text-decoration: none;
}

div.btn-colors .color-swatch {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
  left: -4px;
  border: 1px solid #666666;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  opacity: 1;
}

.selected-swatch {
  /*border:4px solid white;*/
  opacity: 1;
  /*transform: scale(1.25);
  margin: 2px 5px;*/
  /*-webkit-box-shadow: 1px 1px 3px 1px rgba(242,242,242,1);
-moz-box-shadow: 1px 1px 3px 1px rgba(242,242,242,1);
box-shadow: 1px 1px 3px 1px rgba(242,242,242,1);*/
}

.any {
  background: url('/img/color_transparent.png')!important;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}

.beige {
  color: rgba(0, 0, 0, 0.6);
  background-color: #f5f5dc;
}

.black {
  color: rgba(255, 255, 255, 0.6);
  background-color: #000000;
}

.blue {
  color: rgba(255, 255, 255, 0.6);
  background-color: #0000ff;
}

.bronze {
  color: rgba(0, 0, 0, 0.5);
  background-color: #cd7f32;
}

.brown {
  color: rgba(255, 255, 255, 0.5);
  background-color: #a52a2a;
}

.gold {
  color: rgba(0, 0, 0, 0.5);
  background-color: #ffd700;
}

.green {
  color: rgba(255, 255, 255, 0.5);
  background-color: #008000;
}

.grey {
  color: rgba(255, 255, 255, 0.5);
  background-color: #808080;
}

.indigo {
  color: rgba(255, 255, 255, 0.5);
  background-color: #4b0082;
}

.maroon {
  color: rgba(255, 255, 255, 0.5);
  background-color: #800000;
}

.orange {
  color: rgba(0, 0, 0, 0.6);
  background-color: #ffa500;
}

.pink {
  color: rgba(0, 0, 0, 0.5);
  background-color: #ffc0cb;
}

.purple {
  color: rgba(255, 255, 255, 0.5);
  background-color: #800080;
}

.red {
  color: rgba(255, 255, 255, 0.7);
  background-color: #ff0000;
}

.silver {
  color: rgba(0, 0, 0, 0.4);
  background-color: #c0c0c0;
}

.turquoise {
  color: rgba(0, 0, 0, 0.5);
  background-color: #40e0d0;
}

.white {
  color: rgba(0, 0, 0, 0.6);
  background-color: #ffffff;
}

.yellow {
  color: rgba(0, 0, 0, 0.5);
  background-color: #ffff00;
}

.btn-colors {
  text-transform: capitalize;
  width: 200px;
  position: relative;
  display: inline-block;
  top: 8px;
  left: 6px;
}

.colorlabel {
  position: relative;
    top: -8px;
    left: -3px;
}

#color-swatches{
  /*background-color: white;*/
}
</style>
<template>
<div class="form-group">
  <label for="colour">
    <span v-if="currentcolor !== ''" :class="[currentcolor]" class="color-swatch"></span>
    <span v-if="currentcolor == ''" class="color-swatch any"></span>  Colour:
  </label>
  <select id="colour" name="colour" class="form-control input-sm" v-on:change="setActiveSwatch">
    <option v-for="color in arrCarColors"  v-if="color === 'any'" value="">{{color}}</option>
    <option v-for="color in arrCarColors" v-if="color != 'any'" :value="color">{{color}}</option>
  </select>
</div>
</template>

<script>
export default{
  mounted(){
    console.log('loaded color element');
  },
  data(){
    return {
      currentcolor: "any",
      showswatches: false,
      arrCarColors:[
        "any",
        "beige",
        "black",
        "blue",
        "bronze",
        "brown",
        "gold",
        "green",
        "grey",
        "indigo",
        "maroon",
        "orange",
        "pink",
        "purple",
        "red",
        "silver",
        "turquoise",
        "white",
        "yellow"
      ]
    }
  },
  methods:{
    setActiveSwatch(){
      var color = document.getElementById('colour').value;
      this.currentcolor = color;
      this.showswatches = false;
    }
  }
}</script>
