<style scoped>
.car-item-header{
  font-size: 1.2em;
  font-weight: bold;
  margin:5px 10px 5px 10px;
}
.car-img{
  border-radius: 5px;
  margin-bottom: 10px;
}
.car-details-list{
  text-transform: capitalize;
}
.car-item-links a {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255,255,255, 0.7)!important;
  display: inline-block;
  padding: 10px;
  width: 49.5%;
  text-align: center;
}
</style>
<template>
  <div class="car-item clearfix">
    <div class="car-item-header">{{manufacturer}} {{model}}<span class="adzuna-brand pull-right">
      <a class="adzunalogo" href="http://www.adzuna.co.uk" target="_blank"> Cars</a> by <a href="http://www.adzuna.co.uk"><img class="adzuna-logo" src="img/adzuna.png" /></a>
    </span> <span class="pull-right"> {{$root.formatPrice(price)}}</span></div>
    <div class="col-sm-12">
      <ul class="list list-unstyled list-inline car-details-list">
        <li>Year: <strong>{{year}}</strong></li>
        <li>Mileage: <strong>{{mileage}}</strong></li>
        <li>Body Type: <strong>{{body_type}}</strong></li>
        <li>Transmission: <strong>{{transmission}}</strong></li>
        <li>Colour: <strong>{{color}}</strong></li>
        <li>Date posted: <strong>{{formatPostDate(created)}}</strong></li>
      </ul>
    </div>
    <div v-if="typeof img !== 'undefined'" class="col-sm-12">
      <img class="car-img pull-left" v-bind:src="img" />
      <p class="car-item-with-image-para">{{description}}</p>
    </div>
    <div v-if="img == undefined" class="col-sm-12">
      <img class="car-img pull-left"src="/img/noimage_sm.png" />
      <p class="car-item-with-image-para">{{description}}</p>
    </div>

    <div class="car-item-links">
      <a v-on:click="$root.selectMarker(id, 14)"><i class="fa fa-fw fa-map-marker"></i> Focus Map </a>
      <a :href="redirect_url" target="_blank" class="car-link"><i class="fa fa-fw fa-external-link"></i> Full Details</a>
    </div>
  </div>
</template>
<script>
export default{
  mounted(){
    console.log('got the car item');
  },
  props: [
    'title',
    'body_type',
    'manufacturer',
    'color',
    'description',
    'location',
    'latitude',
    'longitude',
    'mileage',
    'model',
    'price',
    'transmission',
    'year',
    'img',
    'created',
    'redirect_url',
    'id'
  ],
  methods: {
    formatPostDate: function(item) {
      return moment(item).format('MMMM Do YYYY, h:mm:ss a');
    },
  }
}</script>
