<template>
  <div id="salesform">
<form id="carsearchform" action="/cars/search">
      
      <div class="col-sm-3">
        <label for="price_min">Min Price</label>
        <div class="input-group input-group-sm">
          <span class="input-group-addon">£</span>
          <input type="number" class="form-control" name="price_min" id="price_min" aria-label="Minimum price in £GBP"  v-model="$root.mincarprice" placeholder="eg: 1000" step="50" min="0" max="100000">
        </div>
      </div>
      <div class="col-sm-3">
        <label for="price_max">Max Price</label>
        <div class="input-group input-group-sm">
          <span class="input-group-addon">£</span>
          <input type="number" class="form-control" name="price_max" id="price_max" aria-label="Maximum price in £GBP"  v-model="$root.maxcarprice" placeholder="eg: 2500" step="50" min="100" max="100000">
        </div>
      </div>
      <div class="col-sm-3">
        <carmaker></carmaker>
      </div>
      <div class="col-sm-3">
      <div class="form-group">
        <label for="distance">Search radius: </label>
        <select name="distance" class="form-control input-sm" v-model="$root.carradius">
          <option value="">-- No preference --</option>
          <option v-for="rangeitem in arrRadi" :value="rangeitem">{{rangeitem}} Miles</option>
        </select>
      </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="mmileage_min">Min Mileage</label>
          <input type="number" class="form-control input-sm" name="mileage_min" id="mileage_min" aria-label="Minimum milage" placeholder="eg: 5000" step="1000" min="0" max="95000">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="mileage_max">Max Mileage</label>
          <input type="number" class="form-control input-sm" name="mileage_max" id="mileage_max" aria-label="Maximum milage" placeholder="eg: 10000" step="1000" min="5000" max="100000">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
        <label for="engine_min">Min Capacity (cc)</label>
          <input type="number" class="form-control input-sm" name="engine_min" id="engine_min" aria-label="Minimum engine size"  placeholder="eg: 1000" step="100" min="0" max="5000">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
        <label for="engine_max">Max Capacity (cc)</label>
          <input type="number" class="form-control input-sm" name="engine_max" id="engine_max" aria-label="Maximum engine size"  placeholder="eg: 1600" step="100" min="100" max="5000">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="fuel_type">Fuel type:</label>
          <select id="fuel_type" name="fuel_type" class="form-control input-sm">
            <option value="">-- No preference --</option>
            <option value="diesel">Diesel</option>
            <option value="petrol">Petrol</option>
            <option value="hybrid">Hybrid</option>
            <option value="electric">Electric</option>
            <option value="LPG">LPG</option>
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="transmission">Transmission:</label>
          <select id="transmission" name="transmission" class="form-control input-sm">
            <option value="">-- No preference --</option>
            <option value="manual">Manual</option>
            <option value="automatic">Automatic</option>
            <option value="automatic_semi">Semi-Automatic</option>
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="body_type">Body type:</label>
            <select name="body_type" id="body_type" class="form-control input-sm">
              <option value="">-- No preference --</option>
              <option value="hatchback">hatchback</option>
              <option value="saloon">saloon</option>
              <option value="estate">estate</option>
              <option value="convertible">convertible</option>
              <option value="coupe">coupe</option>
              <option value="MPV">MPV</option>
              <option value="4x4">4x4</option>
            </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
        <label for="year_min">Year From</label>
          <input type="number" class="form-control input-sm" name="year_min" id="year_min" aria-label="Minimum year" placeholder="eg: 1980" step="1" min="1980" max="2017">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
        <label for="year_max">Year To</label>
          <input type="number" class="form-control input-sm" name="year_max" id="year_max" aria-label="Maximum year" placeholder="eg: 2017" step="1" min="1980" max="2017">
        </div>
      </div>
      <div class="col-sm-3">
      <carcolours></carcolours>
      <input type="hidden" name="_token" :value="token">
      <input type="hidden" name="page" v-model="$root.propertypagination[$root.currentpropertysearchtype.toLowerCase()].currentpage">
      <input type="hidden" name="where" :value="$root.postcodes.item.data[0].postcode">
    </div>
      <div class="text-right col-sm-12"><button type="button" class="btn btn-success btn-sm" v-on:click="$parent.searchcars">Search</button>
        <button class="btn btn-default btn-sm" type="button">Reset</button></div>
</form>
  </div>
</template>
<script>
export default {
  mounted() {
    console.log('Searchform Component mounted.');
  },
  props: [

  ],
  data: function() {
    return {
      arrRadi: [0.5,1,3,5,10,25,50,100],
      token:window.Laravel.csrfToken
    }
  },
  methods: {

  }
}
</script>
