<template>
<div class="clearfix">
<div class="col-sm-9">
  <p id="search-summary">There are <strong>{{$root.cartotalresults}}</strong> motors priced between <strong>£{{ $root.mincarprice }}</strong> and <strong>£{{ $root.maxcarprice }}</strong> within
    <strong>{{ $root.carradius }} miles</strong> of <strong>{{$root.postcodes.item.data[0].postcode}}</strong>. <br />Currently showing listings <strong>{{ pstart }}</strong> to <strong>{{ pend }}</strong></p>
</div>
<div class="col-sm-2">
  <div class="">
      <button v-on:click="$root.resetCarSearchPanel" class="btn btn-success btn-sm">Search again...</button>
  </div>
</div>
</div>
</template>
<script>
export default {
  mounted() {

  },
  props: [
    'mumMinPrice',
    'numMaxPrice',
    'searchtype',
    'radius',
    'resultscount',
    'pstart',
    'pend'
  ],
  methods: {
  }
}
</script>
