<template>
<div id="carpanel" class="col-sm-6 noselect">
  <div class="row">
    <div id="car-scrollcontent" class="dataregion-content scroller">
      <h2 class="region-header muted"><i class="fa fa-car"></i> Motors Search</h2>
      <p v-if="$root.currenterror === null">Use the form below to search for Cars for sale near {{$root.postcodes.item.data[0].postcode}}</p>
      <!-- <h1 class="region-header"><small>Motors near </small><br /><span id="postcodename">{{$root.postcodes.item.data[0].postcode}}</span>
      </h1> -->
    <a id="close-location-data" class="panel-close-link" v-on:click="hideCarData"><i class="fa fa-close fa-fw"></i></a>




    <alert v-if="$root.currenterror !== null && $root.currenterror.action === 'cars'" v-bind="{
      'alerttype' : 'alert-danger',
      'icon' : 'fa-exclamation-triangle',
      'message' : $root.currenterror.message,
      'title' : $root.currenterror.title,
        'strong' : null
    }"></alert>









      <carsearch v-show="$root.cars.length === 0 && $root.loadingsearchdata === false && $root.carsloaded === false"></carsearch>
      <carnoresults v-if="$root.carsloaded === true && $root.cars.length === 0 && $root.loadingsearchdata === false"></carnoresults>
      <loadingspinner v-if="$root.loadingsearchdata === true"></loadingspinner>
        <div v-model="$root.cars" v-if="$root.cars.length > 0 && $root.cartotalresults > 0 && $root.loadingsearchdata === false">
        <carsearchsummary v-bind="{
          'mumMinPrice' : $root.mincarprice,
          'numMaxPrice' : $root.maxcarprice,
          'searchtype' : 'cars',
          'radius' : $root.carradius,
          'resultscount' : $root.cartotalresults,
          'pstart' :$root.propertypagination.cars.currentstart,
          'pend' :$root.propertypagination.cars.currentend
        }"></carsearchsummary>
        <caritem v-for="item, index in $root.cars" v-bind:key="item.id" v-bind="{

        'title': item.title,
        'body_type': item.body_type,
        'manufacturer': item.category.label,
        'color': item.colour,
        'description': item.description,
        'location': item.location.display_name,
        'latitude': item.latitude,
        'longitude': item.longitude,
        'mileage': item.mileage,
        'model': item.model.display_name,
        'price': item.price,
        'created': item.created,
        'latitude': item.latitude,
        'longitude': item.longitude,
        'transmission': item.transmission,
        'year': item.year,
        'id' : item.id,
        'img': item.image_url,
        'redirect_url': item.redirect_url
        }"></caritem>
        <pagination></pagination>
      </div>
      <snowfooter></snowfooter>
    </div>
  </div>
</div>
</template>

<script>
export default{
  data() {
    return{
      cars: this.$parent.cars
    }
  },
  methods: {
    hideCarData(event){
      if (event) {
         this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
        this.$parent.currentWindow = null;
        this.$parent.putUserBack();
      }
    },
    decrementPagination: function(index) {
      console.log('decrement car pagination')
      if (this.$parent.propertypagination[this.$parent.currentpropertysearchtype.toLowerCase()].currentpage >= 2) {
        this.$parent.loadingsearchdata = true;
        this.scrollBackUp()
        this.$parent.propertypagination[this.$parent.currentpropertysearchtype.toLowerCase()].currentpage--
          this.searchcars();
      }
    },
    incrementPagination: function() {
      console.log('increment car pagination')
      if (this.$parent.propertypagination[this.$parent.currentpropertysearchtype.toLowerCase()].currentpage < this.$parent.propertypagination[this.$parent.currentpropertysearchtype.toLowerCase()].paginationcount) {
        this.$parent.loadingsearchdata = true;
        this.scrollBackUp()
        this.$parent.propertypagination[this.$parent.currentpropertysearchtype.toLowerCase()].currentpage++
          this.searchcars();
      }
    },

    doPagination: function(index) {
      console.log('setting index to ' + index);
      this.$parent.loadingsearchdata = true;
      this.scrollBackUp()
      this.$parent.propertypagination[this.$parent.currentpropertysearchtype.toLowerCase()].currentpage = index;
      this.searchcars();
    },
    scrollBackUp: function() {
      document.getElementById('car-scrollcontent').scrollTop = 0;
    },
    searchcars: function(event){
      this.$root.loadingsearchdata = true;
      let carsearch = document.getElementById('carsearchform').serialize();
      console.log('we are going to search cars');
      console.log(carsearch);
      this.$root.carsearch = carsearch;
      console.dir(this.$root.carsearch)
      this.$root.getData('cars');
      if(event){

        event.preventDefault();
        return false;
      }
    },
    hideCarData: function() {
      this.$parent.showpropertysalessearch = true;
      this.$parent.cars = [];

      this.$parent.propertypagination.cars.currentstart = 1;
      this.$parent.propertypagination.cars.currentend = 20;
      this.$parent.propertypagination.cars.currentpage = 1;
      this.$parent.propertypagination.cars.paginationcount = 0;
      this.$parent.carsloaded = false;
      this.$parent.propertyloaded = false;
      this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
      this.$parent.currentWindow = null;
      this.$parent.putUserBack();
      this.$parent.autoCenter();
    }
  }
}
</script>
