<template>
<div id="courtspanel" class="col-sm-4 noselect">
  <div class="row">
    <div class="dataregion-content scroller">
      <h2 class="region-header muted"><i class="fa fa-gavel"></i> Courts &amp; Tribunals</h2>
      <h1 v-if="$root.wronglocation ===false" class="region-header"><small>Showing data for {{$root.postcodes.item.data[0].postcode}}</small></h1>
<a id="close-location-data" class="panel-close-link" v-on:click="hideCourtData" ><i class="fa fa-close fa-fw"></i></a>
<alert v-if="$root.currenterror !== null && $root.currenterror.action === 'courts'" v-bind="{
  'alerttype' : 'alert-danger',
  'icon' : 'fa-exclamation-triangle',
  'message' : $root.currenterror.message,
  'title' : $root.currenterror.title,
    'strong' : null
}"></alert>
<p v-if="$root.currenterror === null && $root.courts.length === 0">We've found {{ $root.courts.length }} courts in the area surrounding {{$root.postcodes.item.data[0].postcode}}</p>

      <div id="" v-if="$root.currenterror === null && $root.courts.length > 0" >
          <div>
            <p>We've found {{ $root.courts.length }} courts in the area surrounding {{$root.postcodes.item.data[0].postcode}}. Click a court name in the list below to read more details, and to zoom to the court on the map...</p>
            <hr />
          </div>
          <div v-for="court in courts" class="court-item">
            <span class="court-name" v-on:click="toggleCourtData(court.item.data.name, court.item.data.lat,court.item.data.lat, 'court_' +court.item.data.number)">{{ court.item.data.name }}</span>
            <div class="court-data" v-if="currentcourt == court.item.data.name">
              <label v-if="court.item.data.types.length < 2">Type of Court:</label>
              <label v-else="court.item.data.types.length > 1">Types of Court:</label>

              <div v-if="court.item.data.types.length > 0">
                  <ul class="list list-unstyled list-inline">
                    <li v-for="item, index in court.item.data.types "><span class="label label-primary">{{item}}</span></li>
                  </ul>
                </div>
                  <hr />
              <div class="clearfix">

              <div class="pull-left" style="width:25%;"><label>Address:</label></div>
              <div class="pull-left" style="width:70%;">
                <span class="address-span" v-for="addressline in court.item.data.address.address_lines"> {{ addressline}} </span>
                <span class="address-span"> {{ court.item.data.address.town}} </span>
                <span class="address-span"> {{ court.item.data.address.county}} </span>
                <span class="address-span"> {{ court.item.data.address.postcode}} </span>
              </div>
              </div>
              <div v-if="court.item.data.areas_of_law.length > 0">
                <hr />
                <label>Areas of Law</label>
                <ul class="list list-unstyled list-inline">
                  <li v-for="item, index in courttypes">
                    <div v-if="courttypematches(court.item.data.areas_of_law, item) > 0"> {{ item }} <span class="yes-icon"><i class="fa fa-fw fa-check"></i></span></div>
                    <div class="muted" v-else>{{ item }} <span class="no-icon"><i class="fa fa-fw fa-times"></i></span></div>
                  </li>
                </ul>
              </div>
              <hr />
              <p>Approx distance from {{$root.postcodes.item.data[0].postcode}}: <strong class="">{{ $root.milesToKilometers(court.item.data.distance)}} km</strong></p>
            </div>
          </div>
      </div>
      <snowfooter></snowfooter>
    </div>
  </div>
</div>
</template>

<script>
export default {
  mounted() {

  },
  data: function() {
    return {
      courts: this.$parent.courts,
      courttypes: this.$parent.courttypes,
      currentcourt: null

    }
  },
  methods: {
    courttypematches: function(arr,courttype){
      if(arr.length === 0){
        console.error('NO Array of court types!')
      }
      var boolResult =_.includes(arr, courttype)
      return boolResult
    },
    hideCourtData: function(event){
      if(event){
        this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
        this.$parent.currentWindow = null;
        this.$parent.putUserBack();
      }
    },
    toggleCourtData:function(court, lat, lng, id){
      if(this.currentcourt == court){
        this.currentcourt = null
        this.$parent.autoCenter();
      }else{
        this.$parent.selectMarker(id, 15);
        this.currentcourt = court;
      }
    }
  }
}
</script>
