<template>
<div id="schoolspanel" class="col-sm-4 noselect">
  <div class="row">
    <div class="dataregion-content scroller">
      <h2 class="region-header muted"><i class="fa fa-exclamation-triangle fa-fw"></i> Local Crime</h2>
      <h1 class="region-header"><small>Street level crime near {{$root.postcodes.item.data[0].postcode}}</small></h1>
      <a id="close-location-data" class="panel-close-link" v-on:click="hideCrimeData"><i class="fa fa-close fa-fw"></i></a>

      <alert v-if="$root.currenterror !== null && $root.currenterror.action === 'crime'" v-bind="{
        'alerttype' : 'alert-danger',
        'icon' : 'fa-exclamation-triangle',
        'message' : $root.currenterror.message,
        'title' : $root.currenterror.title,
          'strong' : null
      }"></alert>
      <p v-if="crimes.length === 0 && $root.currenterror === null">The UK Police API has returned <strong>{{crimes.length}} incidents</strong> within a <strong>one mile radius</strong> of {{$root.postcodes.item.data[0].postcode}}.</p>


      <div id="" v-if="$root.currenterror === null && crimes.length >0">
        <div>
          <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
              <li role="presentation"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Detail</a></li>
              <li role="presentation"><a href="#aboutpolice" aria-controls="aboutpolice" role="tab" data-toggle="tab">About this data</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="overview">
                  <p>The UK Police API has returned <strong>{{crimes.length}} incidents</strong> within a <strong>one mile radius</strong> of {{$root.postcodes.item.data[0].postcode}}.</p>
                  <hr />
                <h4>Crimes by Type</h4>
                <div id="crime-chart"></div>
                <div id="crime-counts">
                  <table class="table table-stiped">
                    <tbody>
                      <tr v-for="item, index in $root.arrCrimeChartData">
                        <td v-bind:style="{'border-left': '10px solid ' + $root.colors[index]} ">{{item.category.replace(/-/g, ' ').toProperCase()}}</td>
                        <td>{{item.count}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <hr />
                  <h4>Outcomes</h4>
                <div id="outcome-chart"></div>
                <div id="outcome-counts">
                  <table class="table table-stiped">
                    <tbody>
                      <tr v-for="item, index in $root.arrCrimeChartOutcomeData">
                        <td v-bind:style="{'border-left': '10px solid ' + $root.colors[index]} ">{{item.outcome.replace(/-/g, ' ').toProperCase()}}</td>
                        <td>{{item.count}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="details">    <p>Click an item in the list below to read more details, and to zoom to the incident on the map...</p>
                <div v-for="crime in crimes" class="crime-item">
                  <!-- <span class="crime-name" v-on:click="toggleCrimeData(crime.item.data.category + '-' + crime.item.data.id, crime.item.point[0], crime.item.point[1], crime.item.data.id)">{{crime.item.data.category.replace(/-/g, ' ')}}</span> -->
                  <span class="crime-name" v-on:click="toggleCrimeData(crime.item.data.category + '-' + crime.item.data.id, crime.item.point[0], crime.item.point[1], crime.item.data.id)">{{crime.item.data.location.street.name.replace('On or ', 'On/')}}</span>
                  <div class="crime-data" v-if="currentCrime == crime.item.data.category + '-' + crime.item.data.id">
                    <p><label>Category: </label> {{crime.item.data.category.replace(/-/g, ' ').toProperCase()}}</p>
                    <p v-if="crime.item.data.outcome_status !== null"><label>Outcome: </label> {{crime.item.data.outcome_status.category}}</p>
                    <p v-if="crime.item.data.outcome_status === null"><label>Outcome: </label> No outcome data available.</p>
                    <p v-if="crime.item.data.month !== null"><label>Date: </label> {{formatCrimeDate(crime.item.data.month)}}</p>
                    <p ><label>Distance from your location: </label> {{$root.getDistanceFromLatLonInMiles(uLat,uLng,crime.item.point[0],crime.item.point[1])}} miles</p>
                  </div>
                </div></div>
                <div role="tabpanel" class="tab-pane" id="aboutpolice">
                <p>The street-level crime data used for this application is from <a href="https://data.police.uk/" target="_blank">Data.Police.Uk</a>. We use the <a href="https://data.police.uk/docs/method/crime-street/">Street Level Crimes</a> method to find crimes located within a radius of approximately 1 mile of your location (or at least your <em>detected</em> location). </p>
                <p><strong>Please note:</strong> Unfortunately, the data from Data.Police.UK is not as up to date as it could be, and generally seems to give results for a month or two before the current date. This is NOT something that can be improved on THIS application, until the Police.Data.UK system shows fresher results.</p>
                <p>The location data is also very approximate due to the data protection and anonymisation processes used by the Police system</p>
                </div>
            </div>
          </div>
        </div>
      </div>
      <snowfooter></snowfooter>
    </div>
  </div>
</div>
</div>
</template>

<script>
export default {
  mounted() {
    this.$parent.drawCrimeChart(this.$parent.arrCrimeChartData)
    this.$parent.drawOutcomeCrimeChart(this.$parent.arrCrimeChartOutcomeData)
  },
  data: function() {
    return {
      crimes: this.$parent.crimes,
      currentCrime: null,
      uLat: this.$parent.position[0],
      uLng: this.$parent.position[1],
    }
  },
  methods: {
    hideCrimeData: function(event) {
      if (event) {
         this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
        this.$parent.currentWindow = null;
        this.$parent.putUserBack();
      }
    },
    formatCrimeDate: function(datepartial) {
      var arrDate = datepartial.split('-');
      var intYear = arrDate[0];
      var intMonth = arrDate[1];
      var formattedMonth = moment(intMonth, 'MM').format('MMMM'); // September
      return formattedMonth + ' ' + intYear;
    },
    toggleCrimeData: function(crime, lat, lng, id) {

      if (this.currentCrime == crime) {
        this.currentCrime = null;
        this.$parent.autoCenter();
      } else {
        this.$parent.selectMarker(id, 17);
        this.currentCrime = crime;
      }
    }
  }
}
</script>
