<template>
  <div class="col-sm-12 push-down">
    <div class="form-group">
      <label for="">{{radiuslabel}} ({{targetmeasure}})</label>
      <ul class="list list-unstyled list-inline">
        <li v-for="itemvalue, index in range" class="radius-picker-item" v-bind:class="{selected: itemvalue === currentvalue}" v-on:click="setTargetValue(itemvalue)">{{itemvalue}} {{targetmeasure.split('')[0].toLowerCase()}}</li>
      </ul>
    </div>
  </div>
</template>


<script>
export default {
  mounted() {

  },
  props: ['target', 'range', 'radiuslabel', 'targetvalue', 'targetmeasure', 'defaultvalue'],
  data: function(){
    return{
      currentvalue: this.defaultvalue
    }
  },
  // },
  methods: {
    setTargetValue(itemvalue){
      console.clear();
      this.$root[this.targetvalue] = itemvalue;
      console.log('set '+ this.targetvalue + ' to ' + itemvalue);
      this.currentvalue = itemvalue;
      console.log('its now ' + this.$root[this.targetvalue]);
      return false;
    },
    setRadius:function(event){
      this.$root[this.targetvalue] = parseInt(event.target.innerHTML.replace('+', ''))

    }
  }
}
</script>
