<template>
  <div class="alert alert-info" v-if="$root.loadingsearchdata === true"><i class="fa fa-spinner fa-spin"></i> Loading data, one moment...</div>
</template>


<script>

export default {
  mounted() {

  }
}
</script>
