<template>
<div id="location-details" class="col-sm-3">
  <div class="row">
    <div class="dataregion-content scroller">
      <h2 class="region-header muted"><i class="fa fa-map-marker"></i> Your location</h2>
      <h1 v-if="$root.wronglocation ===false" class="region-header"><small>Showing data for...</small><br /><span id="postcodename">{{$root.postcodes.item.data[0].postcode}}</span></h1>
      <h1 v-if="$root.wronglocation ===true" class="region-header"><small>Change your location...</small></h1>
      <a id="close-location-data" class="panel-close-link" v-on:click="hideLocationData" ><i class="fa fa-close fa-fw"></i></a>
    <div class="" v-show=" $root.wronglocation  === true && $root.postcodeerror === false">
      <p>Oops. Sorry if we have detected an incorrect location. Please enter your postcde in the form below and we will try to find your correct location...</p>
    </div>
    <div class="alert alert-danger" v-show="$root.postcodeerror === true">
        <p><i class="fa fa-warning fa-fw"></i>  Sorry, you seem to have entered an invalid UK Postcode. Please check your entry and try again.</p>
    </div>
    <div id="location-output" v-show="$root.wronglocation === false ">
    <div id="postcode"></div>
    <div id="latlng">
      <h3><small>Latitude:</small><br/>{{$root.position[0]}}</h3>
      <h3><small>Longitude:</small><br/>{{$root.position[1]}}</h3>
    </div>
    <hr />
    <div class="text-right"><a class="region-link" v-on:click="showLocationForm">Wrong location?</a></div>
  </div>
    <div id="wrong-location-form" v-if="$root.wronglocation ===true">
      <div class="form">
        <div class="form-group">
          <label for="user-postcode">Your postcode</label>
          <input type="text" class="form-control input-sm" id="user-postcode" placeholder="eg: PO15 6SE" />
        </div>
        <div class="form-group text-right">
          <button class="btn btn-primary btn-sm" v-on:click="resetLocation"><i class="fa fa-fw fa-check"></i></button>
          <button class="btn btn-default btn-sm" v-on:click="hideLocationForm"><i class="fa fa-fw fa-times"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</template>


<script>
export default {
  mounted() {

  },
  data: function() {
    return {
      currentZoom: this.$parent.currentZoom,
      tools: this.$parent.toolsopen,
      wronglocation: this.$parent.wronglocation,
      postcodeerror: this.$parent.postcodeerror
    }
  },
  methods: {
    showLocationForm: function(event) {
      if (event) {
        this.$parent.wronglocation = true;
      }
    },
    hideLocationData: function(event) {
      this.$parent.currentWindow = null;
      this.$parent.wronglocation = false;
      this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
      this.$parent.autoCenter();
    },
    hideLocationForm: function(event) {
      if (event) {
        this.$parent.wronglocation = false;
      }
    },
    resetLocation: function(event) {
      this.$parent.showpropertysalessearch = true;
      this.$parent.properties = []
      this.$parent.lettings = []
      this.$parent.cars = []
      this.$parent.carsloaded = false;
      this.$parent.propertyloaded = false;
      this.$parent.currentpropertysearchtype = 'Sales';
      this.$parent.cartotalresults = 0;
      this.$parent.resetPagination();
      this.$parent.properties = []
      this.$parent.resetLocationFromPostcode(document.getElementById('user-postcode').value);
    }
  }
}
</script>
