<template>
<div id="maptype-details" class="col-sm-3">
  <div class="row">
    <div class="dataregion-content scroller">
      <h2 class="region-header muted"><i class="fa fa-map fa-fw"></i> Map Types</h2>
      <a id="close-maptype-data" class="panel-close-link" v-on:click="hideMapType" ><i class="fa fa-close fa-fw"></i></a>

    <p>You can change the map type by choosing from the list of types below.</p>

    <ul class="list list-unstyled map-list">
      <li><a v-on:click="setMapType('roadmap')"  v-bind:class="{currentmap: $root.currentmaptype === 'roadmap' }"><img src="img/maptypes/roadmap.png"/><span>Roadmap <i v-bind:class="{hide: $root.currentmaptype !== 'roadmap' }" class="pull-right fa fa-fw fa-check"></i></span></a></li>
      <li><a v-on:click="setMapType('hybrid')" v-bind:class="{currentmap: $root.currentmaptype === 'hybrid' }"><img src="img/maptypes/hybrid.png"/><span>Hybrid <i v-bind:class="{hide: $root.currentmaptype !== 'hybrid' }" class="pull-right fa fa-fw fa-check"></i></span></a></li>
      <li><a v-on:click="setMapType('terrain')"  v-bind:class="{currentmap: $root.currentmaptype === 'terrain' }"><img src="img/maptypes/terrain.png"/><span>Terrain <i v-bind:class="{hide: $root.currentmaptype !== 'terrain' }" class="pull-right fa fa-fw fa-check"></i></span></a></li>
      <li><a v-on:click="setMapType('satellite')" v-bind:class="{currentmap: $root.currentmaptype === 'satellite' }"><img src="img/maptypes/satellite.png"/><span>Satellite <i v-bind:class="{hide: $root.currentmaptype !== 'satellite' }" class="pull-right fa fa-fw fa-check"></i></span></a></li>

    </ul>

  </div>
</div>
</div>
</template>


<script>
export default {
  mounted() {

  },
  data: function() {
    return {

    }
  },
  methods: {
    hideMapType: function(event){
      this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
      this.$parent.autoCenter();
      this.$parent.currentWindow = null;
    },
    setMapType: function(maptype) {
      this.$parent.currentmaptype = maptype;
      map.setMapTypeId(maptype);
    }
  }
}
</script>
