<template>
<div id="nolocation">
  <div class="alert alert-danger">
    <p><strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Sorry, it seems your device does not support GeoLocation.</strong> Please enter the postcode for the area you would like to explore.</p>
  </div>
</div>
</template>

<script>
export default {
  mounted() {
  
  },
  props: 'waiting',
  data: function() {
    return {
      waiting: this.$parent.waiting
    }
  },
  methods: {

  }
}
</script>
