<template>

<div class="clearfix alert alert-warning">
<div class="col-sm-9">
  <p id="search-summary">Sorry, there are currently no {{searchtype}} listings available with <strong>{{ numbedrooms }} bedrooms</strong> priced between <strong>£{{ numMinPrice }}{{costlabel}}</strong> and <strong>£{{ numMaxPrice }}{{costlabel}}</strong> within
    <strong>{{propertyradius}} km</strong> of <strong>{{$root.postcodes.item.data[0].postcode}}</strong></p>
</div>
<div class="col-sm-2">
  <div class="">
    <button v-on:click="$root.resetPropertySearchPanel" class="btn btn-success btn-sm">Search again...</button>
  </div>
</div>
</div>

</template>

<script>

export default {
  mounted() {
    console.log('Zoopla footer Component mounted.')
  },
  props: ['searchtype', 'numbedrooms', 'numMaxPrice', 'numMinPrice', 'propertyradius', 'costlabel'],
  methods: {

  }
}
</script>
