<template>
<div class="text-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <!-- <li :class="{'disabled': $root.currentpropertypage <= 1}"> -->
      <li :class="{'disabled': $root.propertypagination[$root.currentpropertysearchtype.toLowerCase()].currentpage <= 1}">
        <a href="#" aria-label="Previous"  v-on:click="this.$parent.decrementPagination">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li v-for="index in $root.propertypagination[$root.currentpropertysearchtype.toLowerCase()].paginationcount" :class="{'active': index === $root.propertypagination[$root.currentpropertysearchtype.toLowerCase()].currentpage }"> <a href="#" v-on:click="$parent.doPagination(index)">{{index}}</a></li>
      <li :class="{'disabled':$root.propertypagination[$root.currentpropertysearchtype.toLowerCase()].currentpage >=$root.propertypagination[$root.currentpropertysearchtype.toLowerCase()].paginationcount  }">
        <a href="#" aria-label="Next"   v-on:click="this.$parent.incrementPagination">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
</template>

<script>
  export default{
    mounted(){

    }
  }
</script>
