<template>
<div class="clearfix">
<div class="col-sm-9">
  <p id="search-summary">There are <strong>{{resultscount}}</strong> {{searchtype}} with <strong>{{nrooms}} bedrooms</strong> priced between <strong>£{{ mumMinPrice }} {{costlabel}}</strong> and <strong>£{{ numMaxPrice }} {{costlabel}}</strong> within
    <strong>{{ radius }} km</strong> of <strong>{{$root.postcodes.item.data[0].postcode}}</strong>. <br />Currently showing listings <strong>{{ pstart }}</strong> to <strong>{{ pend }}</strong></p>
</div>
<div class="col-sm-2">
  <div class="">
      <button v-on:click="$root.resetPropertySearchPanel" class="btn btn-success btn-sm">Search again...</button>
  </div>
</div>
</div>
</template>
<script>

export default {
  mounted() {

  },
  props: [
    'mumMinPrice',
    'numMaxPrice',
    'searchtype',
    'radius',
    'resultscount',
    'pstart',
    'pend',
    'nrooms',
    'costlabel'
  ],
  methods: {

  }
}
</script>
