<template>
<div class="property-item">
  <div>
    <span class="property-price">{{$root.formatPrice(price)}} </span> <span class="price-modifier" v-if="typeof price_modifier !== 'undefined'">{{formatModifier(price_modifier)}}</span></div>
  <div>
    {{property_type}} {{ item_type }} in <span class="property-name">{{displayable_address}}</span>
  </div>
  <div class="property-points">
    <ul class="list list-unstyled list-inline">
      <li><strong>{{num_bedrooms}}</strong> Bedrooms</li>
      <li v-if="num_recepts > 0"><strong>{{num_recepts}}</strong> Reception Rooms</li>
      <li v-if="num_bathrooms > 0"><strong>{{num_bathrooms}}</strong> Bathrooms</li>
      <li><strong> Approx {{$root.getDistanceFromLatLonInMiles($root.position[0],$root.position[1],latitude,longitude)}} miles</strong> from your location</li>
    </ul>


  </div>
  <div class="clearfix">
    <div class="col-sm-6 property-image">
      <img class="property" :src="image_354_255_url" /><img class="agent-logo" :src="agent_logo" />
    </div>
    <div class="col-sm-6">
      <p>{{$root.truncateString(description, 285, '...')}}</p>
    </div>
  </div>
  <div class="offered-by clearfix">

    <div class="col-sm-6">Listed <strong>{{ getDateAgo(first_published_date) }}</strong> <br />({{ formatPostDate(first_published_date) }})</div>
    <div class="col-sm-6">
      <p>Offered by <br /><strong>{{agent_name}}</strong> <br />
        <span class="agent-phone"><i class="fa fa-phone"></i> {{agent_phone}}</span>
      </p>
    </div>
  </div>
  <div>
    <div class="property-item-links">
      <a v-on:click="focusProperty('property_' + listing_id)"><i class="fa fa-fw fa-map-marker"></i> Focus Map </a>
      <a :href="details_url" target="_blank" class="property-link"><i class="fa fa-fw fa-external-link"></i> Full Details</a>
    </div>
  </div>
</div>
</template>

<script>
export default {
  mounted() {

  },
  props:[
    'property_type',
    'price',
    'item_type',
    'price_modifier',
    'displayable_address',
    'num_bedrooms',
    'num_recepts',
    'num_bathrooms',
    'description',
    'agent_logo',
    'agent_name',
    'agent_phone',
    'image_354_255_url',
    'first_published_date',
    'details_url',
    'latitude',
    'longitude',
    'listing_id'
  ],
  methods: {
    focusProperty: function(item){
      this.$root.selectMarker(item, 14);
    },
    formatPostDate: function(item) {
      return moment(item).format('MMMM Do YYYY, h:mm:ss a');
    },
    getDateAgo: function(item) {
      return moment(item).fromNow()
    },
    formatModifier: function(item) {
      return item.split('_').join(' ');
    }
  }
}
</script>
