<template>
<div id="propertypanel" class="col-sm-6 noselect">
  <div class="row">
    <div id="property-scrollcontent" class="dataregion-content scroller">
      <h2 class="region-header muted"><i class="fa fa-home"></i> Property Sales &amp; Lettings</h2>

      <a id="close-location-data" class="panel-close-link" v-on:click="hidePropertyData"><i class="fa fa-close fa-fw"></i></a>

      <alert v-if="$root.currenterror !== null && $root.currenterror.action === 'sales' && $root.currentpropertysearchtype === 'Sales'" v-bind="{
        'alerttype' : 'alert-danger',
        'icon' : 'fa-exclamation-triangle',
        'message' : $root.currenterror.message,
        'title' : $root.currenterror.title,
          'strong' : null
      }"></alert>

      <alert v-if="$root.currenterror !== null && $root.currenterror.action === 'lettings' && $root.currentpropertysearchtype === 'Lettings'" v-bind="{
        'alerttype' : 'alert-danger',
        'icon' : 'fa-exclamation-triangle',
        'message' : $root.currenterror.message,
        'title' : $root.currenterror.title,
          'strong' : null
      }"></alert>

      <div id="propertyTabs" v-if="$root.currenterror === null">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#sales" aria-controls="sales" role="tab" data-toggle="tab" v-on:click="toggleCurrentSearchType('Sales')">Sales</a></li>
          <li role="presentation"><a href="#lettings" aria-controls="lettings" role="tab" data-toggle="tab" v-on:click="toggleCurrentSearchType('Lettings')">Lettings</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="sales">
            <propertysearch v-if="$root.showpropertysalessearch === true && $root.loadingsearchdata === false" v-bind="{
              'searchtype':'Sales',
              'addonlabel':'k',
              'costlabels': 'Price',
              'minvalue': 'minsalesprice',
              'maxvalue': 'maxsalesprice',
              'currentpropertysearchtype' : $root.currentpropertysearchtype
              }">
            </propertysearch>
            <loadingspinner v-if="$root.loadingsearchdata === true && $root.currentpropertysearchtype === 'Sales'"></loadingspinner>
            <div v-if="$root.propertyloaded === true && $root.loadingsearchdata === false && $root.currentpropertysearchtype === 'Sales'">
              <nopropertyresults v-if="$root.properties.result_count === 0" v-bind="{
                  'searchtype': currentpropertysearchtype,
                  'numbedrooms':  $root.numbedrooms,
                  'numMinPrice': $root.minsalesprice,
                  'numMaxPrice': $root.maxsalesprice,
                  'propertyradius': $root.propertyradius,
                  'costlabel': 'k'
                }"></nopropertyresults>
              <div v-if="$root.properties.listing && $root.properties.result_count > 0">
                <propertysearchsummary v-bind="{
                  'searchtype': 'for sale',
                  'mumMinPrice': $root.minsalesprice,
                  'numMaxPrice': $root.maxsalesprice,
                  'searchtype': currentpropertysearchtype,
                  'radius': $root.propertyradius,
                  'resultscount':$root.properties.result_count,
                  'pstart':  $root.propertypagination[currentpropertysearchtype.toLowerCase()].currentstart,
                  'pend':  $root.propertypagination[currentpropertysearchtype.toLowerCase()].currentend,
                  'nrooms': $root.numbedrooms,
                  'costlabel': 'k'
                }"></propertysearchsummary>
                <hr />
                <div v-for="item, index in $root.properties.listing">
                  <propertyitem v-bind="{
                  'property_type':item.property_type,
                  'price': item.price,
                  'item_type': 'for Sale',
                  'price_modifier': item.price_modifier,
                  'displayable_address':item.displayable_address,
                  'num_bedrooms':item.num_bedrooms,
                  'num_recepts':item.num_recepts,
                  'num_bathrooms': item.num_bathrooms,
                  'description': item.description,
                  'agent_logo': item.agent_logo,
                  'agent_name':item.agent_name,
                  'agent_phone':item.agent_phone,
                  'latitude':item.latitude,
                  'longitude':item.longitude,
                  'image_354_255_url': item.image_354_255_url,
                  'first_published_date':item.first_published_date,
                  'details_url': item.details_url,
                  'listing_id': item.listing_id
                }"></propertyitem>
                </div>
                <pagination></pagination>
                <zooplafooter></zooplafooter>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="lettings">

            <propertysearch v-if="$root.showpropertylettingssearch === true && $root.loadingsearchdata === false  && $root.currentpropertysearchtype === 'Lettings'" v-bind="{
              'searchtype':'Lettings',
              'addonlabel':'pcm',
              'costlabels': 'Rent',
              'minvalue': 'minrent',
              'maxvalue': 'maxrent',
              'currentpropertysearchtype' : $root.currentpropertysearchtype
              }"></propertysearch>
            <loadingspinner v-if="$root.loadingsearchdata === true && $root.currentpropertysearchtype === 'Lettings'"></loadingspinner>
            <div v-if="$root.propertyloaded === true && $root.loadingsearchdata === false && $root.currentpropertysearchtype === 'Lettings'">
              <nopropertyresults v-if="$root.lettings.result_count === 0" v-bind="{
                    'searchtype': $root.currentpropertysearchtype,
                    'numbedrooms':  $root.numbedrooms,
                    'numMinPrice': $root.minrent,
                    'numMaxPrice': $root.maxrent,
                    'propertyradius': $root.propertyradius,
                    'costlabel': 'pcm'
                  }"></nopropertyresults>
              <div v-if="$root.lettings.listing && $root.lettings.result_count > 0">
                <propertysearchsummary v-bind="{
                        'searchtype': 'for sale',
                        'mumMinPrice': $root.minrent,
                        'numMaxPrice': $root.maxrent,
                        'searchtype': $root.currentpropertysearchtype,
                        'radius': $root.propertyradius,
                        'resultscount':$root.lettings.result_count,
                        'pstart':  $root.propertypagination[currentpropertysearchtype.toLowerCase()].currentstart,
                        'pend':  $root.propertypagination[currentpropertysearchtype.toLowerCase()].currentend,
                        'nrooms': $root.numbedrooms,
                        'costlabel': 'pcm'
                      }"></propertysearchsummary>
                <hr />
                <div v-for="item, index in $root.lettings.listing">
                  <propertyitem v-bind="{
                        'property_type':item.property_type,
                        'price': item.rental_prices.per_month,
                        'item_type': 'to Let',
                        'price_modifier': item.rental_prices.accurate,
                        'displayable_address':item.displayable_address,
                        'num_bedrooms':item.num_bedrooms,
                        'num_recepts':item.num_recepts,
                        'num_bathrooms': item.num_bathrooms,
                        'description': item.description,
                        'agent_logo': item.agent_logo,
                        'latitude':item.latitude,
                        'longitude':item.longitude,
                        'agent_name':item.agent_name,
                        'agent_phone':item.agent_phone,
                        'image_354_255_url': item.image_354_255_url,
                        'first_published_date':item.first_published_date,
                        'details_url': item.details_url,
                        'listing_id': item.listing_id
                      }"></propertyitem>
                </div>
                <pagination></pagination>
                <zooplafooter></zooplafooter>
              </div>
            </div>
          </div>

        </div>
      </div>
      <snowfooter></snowfooter>
    </div>
  </div>
</div>
</template>
<script>
export default {
  mounted() {},
  //props: 'currentpropertysearchtype',
  data: function() {
    return {
      numbedrooms: this.$parent.numbedrooms,
      propertyradius: this.$parent.propertyradius,
      minsalesprice: this.$parent.minsalesprice,
      minrent: this.$parent.minrent,
      maxrent: this.$parent.maxrent,
      maxsalesprice: parseInt(this.$parent.maxsalesprice),
      properties: this.$parent.properties,
      loadingsearchdata: this.$parent.loadingsearchdata,
      currentpagintationstart: this.$parent.currentpagintationstart,
      currentpagintationend: this.$parent.currentpagintationend,
     currentpropertysearchtype: this.$parent.currentpropertysearchtype
    }
  },
  methods: {
    scrollBackUp: function() {
      document.getElementById('property-scrollcontent').scrollTop = 0;
    },
    decrementPagination: function(index) {
      console.clear('decrementPagination')
      if (this.$parent.propertypagination[this.$parent.currentpropertysearchtype.toLowerCase()].currentpage >= 2) {
        this.$parent.loadingsearchdata = true;
        this.scrollBackUp()
        this.$parent.propertypagination[this.$parent.currentpropertysearchtype.toLowerCase()].currentpage--
          this.searchProperty()
      }
    },
    incrementPagination: function() {
      console.clear('incrementPagination')
      if (this.$parent.currentpropertypage < this.$parent.paginationcount) {
        this.$parent.loadingsearchdata = true;
        this.scrollBackUp()
        this.$parent.propertypagination[this.$parent.currentpropertysearchtype.toLowerCase()].currentpage++
          this.searchProperty()
      }
    },
    formatPostDate: function(item) {
      return moment(item).format('MMMM Do YYYY, h:mm:ss a');
    },
    doPagination: function(index) {
      this.$parent.loadingsearchdata = true;
      this.scrollBackUp()
      this.$parent.propertypagination[this.$parent.currentpropertysearchtype.toLowerCase()].currentpage = index;
      this.searchProperty()
    },
    getDateAgo: function(item) {
      return moment(item).fromNow()
    },
    toggleCurrentSearchType: function(searchtype) {
      this.$parent.currenterror = null;
      this.$parent.loadingsearchdata = false;
      this.$parent.currentpropertysearchtype = searchtype;
    },
    searchProperty: function(searchtype) {
      if (searchtype === 'Sales') {
        this.$parent.currentpropertysearchtype = 'Sales';
        this.$parent.showpropertylettingssearch = true;
        this.$parent.lettings = [];
        this.$parent.propertypagination.lettings.currentstart = 1;
        this.$parent.propertypagination.lettings.currentend = 20;
        this.$parent.propertypagination.lettings.currentpage = 1;
        this.$parent.propertypagination.lettings.paginationcount = 0;
      }
      if (searchtype === 'Lettings') {
        this.$parent.currentpropertysearchtype = 'Lettings';
        this.$parent.showpropertysalessearch = true;
        this.$parent.properties = [];
        this.$parent.propertypagination.sales.currentstart = 1;
        this.$parent.propertypagination.sales.currentend = 20;
        this.$parent.propertypagination.sales.currentpage = 1;
        this.$parent.propertypagination.sales.paginationcount = 0;
      }
      var min, max, radius, rooms;
      radius = this.$parent.propertyradius;
      rooms = this.$parent.numbedrooms;
      if (searchtype === 'Sales') {
        min = this.$parent.minsalesprice,
          max = this.$parent.maxsalesprice
      } else {
        min = this.$parent.minrent,
          max = this.$parent.maxrent
      }
      var searchdata = {
        'min': min,
        'max': max,
        'radius': radius,
        'rooms': rooms
      }
      var searchpath = '/property/' + this.$parent.currentpropertysearchtype.toLowerCase() + '/' + this.$parent.position[0] + '/' + this.$parent.position[1] + '/' + this.$parent.propertyradius + '/' + this.$parent.minsalesprice + '/' + this.$parent.maxsalesprice + '/' + this
        .$parent.numbedrooms + '/' +
        this.$parent.propertypagination[this.$parent.currentpropertysearchtype.toLowerCase()].currentpage + '/' + this.$parent.searchresultscount
      if (searchtype === 'Sales') {
        this.$parent.getPropertSales(searchpath);
      } else {
        this.$parent.getPropertyLettings(searchpath);
      }
      // if (event) {
      //   event.preventDefault();
      //   return false;
      // }
    },
    resetSearch: function(searchtype) {
      if (searchtype === 'Sales') {
        this.$parent.minsalesprice = 100;
        this.$parent.maxsalesprice = 300;

      } else {
        this.$parent.minrent = 100;
        this.$parent.maxrent = 2000;
      }
      this.$parent.numbedrooms = 3;
      this.$parent.propertyradius = 10;
      this.$parent.loadingsearchdata = false;

      if (event) {
        event.preventDefault();
        return false;
      }
    },
    formatModifier: function(item) {
      return item.split('_').join(' ');
    },
    resetSalesPanel: function(event) {
      this.$parent.resetPropertySearchPanel()
    },
    formatPrice: function(price) {
      return '£' + price.toString().replace(/\B(?=(\d{3})+(?!\d))/, ',')
    },
    hidePropertyData: function(event) {
      if (event) {
        this.$parent.currenterror = null;
        this.$parent.showpropertysalessearch = true;
        this.$parent.lettings = [];
        this.$parent.propertypagination.lettings.currentstart = 1;
        this.$parent.propertypagination.lettings.currentend = 20;
        this.$parent.propertypagination.lettings.currentpage = 1;
        this.$parent.propertypagination.lettings.paginationcount = 0;

        this.$parent.showpropertysalessearch = true;
        this.$parent.properties = [];
        this.$parent.propertypagination.sales.currentstart = 1;
        this.$parent.propertypagination.sales.currentend = 20;
        this.$parent.propertypagination.sales.currentpage = 1;
        this.$parent.propertypagination.sales.paginationcount = 0;

        this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
        this.$parent.currentWindow = null;
        this.$parent.putUserBack();
        this.$parent.autoCenter();
      }
    }
  }
}
</script>
