<template>
<div id="salesform">
  <div class="col-sm-12">
    <p v-if="$root.wronglocation ===false" class="text-left">Use the form below to search Property {{searchtype}} near {{$root.postcodes.item.data[0].postcode}}</p>
  </div>
  <bedroomspicker></bedroomspicker>
  <div class="col-sm-6">
    <label for="min-sales-price">Min {{costlabels}}</label>
    <div class="input-group input-group-sm">
      <span class="input-group-addon">£</span>
      <input type="number" class="form-control" name="min-sales-price" id="min-sales-price" aria-label="Minimum price in thousands of GBP" v-model="$root[minvalue]" step="5" min="0" max="5000">
      <span class="input-group-addon">{{addonlabel}}</span>
    </div>
  </div>
  <div class="col-sm-6">
    <label for="max-sales-price">Max {{costlabels}}</label>
    <div class="input-group input-group-sm">
      <span class="input-group-addon">£</span>
      <input type="number" class="form-control" name="max-sales-price" id="max-sales-price" aria-label="Maximum price in thousands of GBP" v-model="$root[maxvalue]" step="5" min="25" max="10000">
      <span class="input-group-addon">{{addonlabel}}</span>
    </div>
  </div>
  <radiuspicker></radiuspicker>
  <div class="text-right"><button class="btn btn-success btn-sm" v-on:click="$parent.searchProperty(searchtype)">Search</button>
    <button class="btn btn-default btn-sm" v-on:click="$parent.resetSearch()">Reset</button></div>
</div>
</template>
<script>
export default {
  mounted() {
    console.log('Searchform Component mounted.');

  },
  props: [
    'addonlabel',
    'searchtype',
    'costlabels',
    'minvalue',
    'maxvalue',
    'currentpropertysearchtype'
  ],
  data: function() {
    return {

    }
  },
  methods: {

  }
}
</script>
