<template>
  <div class="col-sm-12 push-down">
    <div class="form-group">
      <label for="cmbBedrooms">Distance:</label>
      <ul class="list list-unstyled list-inline">
        <!-- <li class="property-bed-picker-item">Studio</li> -->
        <li class="radius-picker-item" v-bind:class="{selected: $root.propertyradius === 1}" v-on:click="setRadius">1km</li>
        <li class="radius-picker-item" v-bind:class="{selected: $root.propertyradius === 5}" v-on:click="setRadius">5km</li>
        <li class="radius-picker-item" v-bind:class="{selected: $root.propertyradius === 10}" v-on:click="setRadius">10km</li>
        <li class="radius-picker-item" v-bind:class="{selected: $root.propertyradius === 15}" v-on:click="setRadius">15km</li>
      </ul>
    </div>
  </div>
</template>


<script>
export default {
  mounted() {

  },
  data: function() {
    return {
      propertyradius: this.$root.propertyradius
    }
  },
  methods: {
    setRadius:function(event){
      this.$root.propertyradius = parseInt(event.target.innerHTML.replace('+', ''))
    
    }
  }
}
</script>
