<template>
<div id="schoolspanel" class="col-sm-4 noselect">
  <div class="row">
    <div class="dataregion-content scroller">
      <h2 class="region-header muted"><i class="fa fa-mortar-board"></i> Schools</h2>
      <h1 v-if="$root.wronglocation ===false && $root.currenterror === null" class="region-header"><small>Showing data for {{$root.postcodes.item.data[0].postcode}}</small></h1>
      <a id="close-location-data" class="panel-close-link" v-on:click="hideSchoolData" ><i class="fa fa-close fa-fw"></i></a>
      <alert v-if="$root.currenterror !== null && $root.currenterror.action === 'schools'" v-bind="{
        'alerttype' : 'alert-danger',
        'icon' : 'fa-exclamation-triangle',
        'message' : $root.currenterror.message,
        'title' : $root.currenterror.title,
          'strong' : null
      }"></alert>
      <div id="" v-if="$root.currenterror === null">
          <div>
            <p>We've found {{ schools.length }} schools in the area surrounding {{$root.postcodes.item.data[0].postcode}}. <span v-if="schools.length > 0"> Click a school name in the list below to read more details, and to zoom to the school on the map...</span></p>
            <div v-if="schools.length > 0">
              <hr />
            <h4 class="small">Color Key</h4>
            <ul class="list list-unstyled list-inline color-key-list">
              <li class="AllThrough nowrap">All Through</li>
              <li class="Nursery nowrap">Nursery</li>
              <li class="Primary nowrap">Primary</li>
              <li class="Secondary nowrap">Secondary</li>
              <li class="SixteenPlus nowrap">16 Plus</li>
              <li class="Notapplicable nowrap">Not Applicable</li>
            </ul>

            <hr />
          </div>
          </div>
          <div v-for="school in schools" class="school-item"  :class="school.school.Phase_of_education.replace(/ /g, '').replace('16', 'Sixteen')">


            <span class="school-name" v-on:click="toggleSchoolData(school.school.Establishment_name, school.school.Latitude, school.school.Longitude, school.school.ID)">{{ school.school.Establishment_name }}</span>
            <div class="school-data" v-if="currentschool == school.school.Establishment_name">
              <p><strong> Approx {{$root.getDistanceFromLatLonInMiles($root.position[0],$root.position[1],school.school.Latitude,school.school.Longitude)}} miles</strong> from your location</p>
              <p><label>Age range: </label> {{ school.school.Statutory_lowest_age }} - {{ school.school.Statutory_highest_age }} yrs <label class="right-label">Gender: </label> {{ school.school.Gender }}</p>
              <p><label>Type of school: </label> {{ school.school.Type_of_establishment }}</p>
              <p><label>Boarders: </label> {{ school.school.Boarders }}</p>
              <div class="clearfix">
              <div class="pull-left" style="width:25%;"><label>Address:</label></div>
              <div class="pull-left" style="width:70%;">     <span>{{school.school.Establishment_name}}</span>
                   <span class="address-span" v-if="school.school.Street">{{school.school.Street}}</span>
                   <span class="address-span" v-if="school.school.Locality.length > 0">{{school.school.Locality}}</span>
                   <span class="address-span" v-if="school.school.Address3.length > 0">{{school.school.Address3}}</span>
                   <span class="address-span" v-if="school.school.Town.length > 0"> {{school.school.Town}}</span>
                   <span class="address-span" v-if="school.school.County.length > 0">{{school.school.County}}</span>
                   <span class="address-span" v-if="school.school.Postcode.length > 0 != ''">{{school.school.Postcode}}</span>
                </div>
              </div>
              <p v-if="school.school.Admissions_policy.length > 0"><br /><label>Admissions policy: </label> {{ school.school.Admissions_policy }}
              </p>
             <p v-if="school.school.Religious_character.length > 0"><label>Religious character: </label> {{ school.school.Religious_character }}
             </p>
             <p v-if="school.school.Website_address.length > 0"><label>Web Address</label><br />
              <a :href="'http://'+school.school.Website_address.replace('http://', '')" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i>  {{school.school.Website_address.replace('http://', '')}}</a>
             </p>

            </div>


          </div>

      </div>
      <snowfooter></snowfooter>
    </div>
  </div>
</div>
</template>

<script>
export default {
  mounted() {
    console.log('Schools Component mounted.')
  },
  data: function() {
    return {
      schools: this.$parent.schools,
      currentschool: null

    }
  },
  methods: {
    hideSchoolData: function(event){
      if(event){
        this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
        this.$parent.currentWindow = null;
        this.$parent.putUserBack();
      }
    },
    toggleSchoolData:function(school, lat, lng, id){
      console.log(lat, lng)
      if(this.currentschool == school){
        this.currentschool = null

        this.$parent.autoCenter();
      }else{
        this.$parent.selectMarker(id, 15);
        this.currentschool = school;
      }
    }
  }
}
</script>
