<template>
<div id="footer">
  <p>Crafted by <a href="http://snowmeister.co.uk" target="_blank">Snowmeister</a> - 2017</p>
</div>
</template>
<script>
export default{
  mounted(){
    
  }
}
</script>
