<template>
  <div id="welcome-details" class="col-sm-4">
    <div class="row">
      <div class="intro-region scroller">
        <div v-if="$root.explore === false">
        <h1 v-show="waiting == false">Howdy!</h1>
        <h1 v-show="waiting == true">Thanks!</h1>
        <p class="" v-show="waiting == false">Welcome to SnowMap, a handy web app that uses your current location to find useful information about your surrounding area. </p>

        <ul class="list list-unstyled intro-list" v-show="waiting == false">
          <li><i class="fa fa-fw fa-home"></i> Properties for Sale &amp to Rent</li>
          <li><i class="fa fa-fw fa-car"></i> Cars for Sale</li>
          <li><i class="fa fa-wifi fa-fw"></i> Broadband speeds</li>
          <li><i class="fa fa-mortar-board fa-fw"></i> Local schools</li>
          <li><i class="fa fa-exclamation-triangle fa-fw"></i> Local Crimes</li>
          <li><i class="fa fa-gavel fa-fw" aria-hidden="true"></i> Regional Courts</li>

        </ul>
        <p class="" v-show="waiting == true">Please wait a moment, attempting to detect your location...this might take a couple of seconds... </p>
        <p v-show="waiting == false" >Please click the "Use my location" button below to allow this app to access your location to continue, or if you prefer, click "Explore a postcode" to get local information for an area without using your device location.</p>

        <div class="text-center">
          <button v-show="waiting == false" v-on:click="locationAgreed" class="btn btn-success btn-sm"><i class="fa fa-location-arrow fa-fw"></i> Use my location</button>
          <div v-show="waiting == true" class=""><p class=""><i class="fa fa-spinner fa-spin fa-fw"></i> Getting your location...</p></div>
          <button v-show="waiting == false" v-on:click="locationDeclined" class="btn btn-default btn-sm"><i class="fa fa-envelope-o fa-fw"></i> Explore a postcode</button>

        </div>

        </div>
        <div v-if="$root.explore === true">
          <div id="explore-location-form">
            <div class="form">
              <h1 v-show="waiting == false">Explore a postcode</h1>
              <p>Please enter the postcode you would like to explore on the map...</p>
              <div class="form-group">
                <label for="user-postcode">Your postcode</label>
                <input type="text" class="form-control input-sm" id="user-postcode" placeholder="eg: PO15 6SE" />
              </div>
              <div class="form-group text-right">
                <button class="btn btn-success btn-sm" v-on:click="resetLocation"><i class="fa fa-fw fa-check"></i></button>
                <button class="btn btn-default btn-sm" v-on:click="hideLocationForm"><i class="fa fa-fw fa-times"></i></button>
              </div>
            </div>
          </div>
        </div>
        <snowfooter></snowfooter>
      </div>

  </div>

</div>
</template>

<script>
export default {
  mounted() {

  },
  props: 'waiting',
  data: function() {
    return {
      waiting: this.$parent.waiting
    }
  },
  methods: {
    locationAgreed: function(event) {
      // `this` inside methods points to the Vue instance
      this.waiting = true;
      // `event` is the native DOM event
      if (event) {
        this.$parent.$options.methods.findUser();
      }
    },
    locationDeclined: function(event){
      console.error('user said no');
      this.$parent.explore = true
    },
    hideLocationForm: function(){
      this.$parent.explore = false
    },
    resetLocation: function(event) {
      this.$parent.showpropertysalessearch = true;
      this.$parent.properties = []
      this.$parent.lettings = []
      this.$parent.cars = []
      this.$parent.currentpropertysearchtype = 'Sales';
      this.$parent.cartotalresults = 0;

      this.$parent.resetPagination();
      this.$parent.resetLocationFromPostcode(document.getElementById('user-postcode').value);
    }

  }
}
</script>
