<template>
<div id="tools" class="noselect" v-bind:class="{ closed: $root.toolsopen === false , 'col-sm-4 col-md-2 col-lg-2': $root.toolsopen === true}">
  <ul class="list list-unstyled tools-list">
    <li><a v-on:click="toggleLabels" class=" tools-btn"><strong><i class="fa fa-fw" aria-hidden="true" v-bind:class="{ 'fa-angle-right': $root.toolsopen === false , 'fa-angle-left': $root.toolsopen === true}"></i></strong> <span>Hide labels</span></a></li>
    <li><a v-on:click="zoomIn" class=" tools-btn"><i class="fa fa-fw fa-plus"></i> <span>Zoom in</span></a></li>
    <li><a v-on:click="zoomOut" class=" tools-btn"><i class="fa fa-fw fa-minus"></i> <span>Zoom out</span></a></li>
    <li v-bind:class="{ active: $root.currentWindow === 'userlocation' }"><a v-on:click="showUserLocation" class=" tools-btn"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> <span>Your Location</span></a></li>
    <li v-bind:class="{ active: $root.currentWindow === 'crime' }"><a v-on:click="getCrimeData" class=" tools-btn"><i class="fa fa-exclamation-triangle fa-fw"></i> <span>Crime</span></a></li>
    <li v-bind:class="{ active: $root.currentWindow === 'schools' }"><a v-on:click="getSchools" class=" tools-btn"><i class="fa fa-mortar-board fa-fw" aria-hidden="true"></i> <span>Schools</span></a></li>
    <li v-bind:class="{ active: $root.currentWindow === 'broadband' }"><a v-on:click="getBroadBandData" class=" tools-btn"><i class="fa fa-wifi fa-fw"></i> <span>Broadband</span></a></li>
    <li v-bind:class="{ active: $root.currentWindow === 'property' }"><a v-on:click="togglePropertyPanel" class=" tools-btn"><i class="fa fa-fw fa-home"></i> <span>Property</span></a></li>
    <li v-bind:class="{ active: $root.currentWindow === 'cars' }"><a v-on:click="toggleCarPanel" class=" tools-btn"><i class="fa fa-fw fa-car"></i> <span>Motors</span></a></li>
    <li v-bind:class="{ active: $root.currentWindow === 'courts' }"><a v-on:click="getCourtsByPostcode" class=" tools-btn"><i class="fa fa-gavel fa-fw" aria-hidden="true"></i> <span>Courts</span></a></li>
    <li v-bind:class="{ active: $root.currentWindow === 'maptype' }"><a v-on:click="toggleMapPanel" class=" tools-btn"><i class="fa fa-fw fa-map"></i> <span>Map Type</span></a></li>
    <li v-bind:class="{ active: $root.currentWindow === 'about' }"><a v-on:click="toggleAboutPanel" class=" tools-btn"><i class="fa fa-fw fa-info-circle"></i> <span>About</span></a></li>
  </ul>
</div>
</template>

<script>
export default {
  mounted() {
    console.log('Tools Component mounted.')
  },
  data: function() {
    return {
      currentZoom: this.$parent.currentZoom,
      tools: this.$parent.toolsopen
    }
  },
  methods: {
    toggleCarPanel: function(){
      this.$parent.currenterror = null;
      if((this.$parent.currentpropertysearchtype === 'Sales') || (this.$parent.currentpropertysearchtype === 'Lettings')){
        this.$parent.currentpropertysearchtype = 'cars'
      }
      this.$parent.resetPropertySearchPanel()
      if (this.$parent.currentWindow === 'cars') {
        this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
        this.$parent.currentWindow = null;

        this.$parent.autoCenter();
      } else {
      this.$parent.showpropertysalessearch === true;
      this.$parent.showpropertylettingssearch === true;
        //this.$parent.putUserBack();
      //  this.$parent.clearMarkers();
        this.$parent.setAttributeToNew('map', 'class', 'col-sm-9');
        this.$parent.autoCenter();
        this.$parent.currentWindow = 'cars';

      }
    },
    toggleMapPanel: function(){
      this.$parent.currenterror = null;
      if (this.$parent.currentWindow === 'maptype') {
        this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
        this.$parent.currentWindow = null;
        this.$parent.autoCenter();
      } else {
        //this.$parent.putUserBack();
        this.$parent.setAttributeToNew('map', 'class', 'col-sm-9');
        this.$parent.autoCenter();
        this.$parent.currentWindow = 'maptype';

      }
    },
    togglePropertyPanel: function(event) {
      this.$parent.currenterror = null;
      if (event) {
        if(this.$parent.currentpropertysearchtype === 'cars'){
          this.$parent.currentpropertysearchtype = 'Sales'
        }

        this.$parent.showpropertysalessearch = true;
        this.$parent.cars = [];
        this.$parent.propertypagination.cars.currentstart = 1;
        this.$parent.propertypagination.cars.currentend = 20;
        this.$parent.propertypagination.cars.currentpage = 1;
        this.$parent.propertypagination.cars.paginationcount = 0;
        this.$parent.carsloaded = false;


        if((this.$parent.currentWindow === 'crime') || (this.$parent.currentWindow === 'schools') || (this.$parent.currentWindow === 'courts') || (this.$parent.currentWindow === 'cars') ){
          this.$parent.putUserBack();
          this.$parent.showpropertysalessearch === true;
          this.$parent.showpropertylettingssearch === true;
        }
        if (this.$parent.currentWindow === 'property') {
          this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
          this.$parent.currentWindow = null;

          this.$parent.autoCenter();
        } else {
          //this.$parent.putUserBack();
          this.$parent.setAttributeToNew('map', 'class', 'col-sm-6');
          this.$parent.autoCenter();
          this.$parent.currentWindow = 'property';

        }
      }
    },
    getCourtsByPostcode: function(event) {
      this.$parent.currenterror = null;
      if (event) {
        this.$parent.resetPropertySearchPanel()
        if (this.$parent.currentWindow === 'courts') {
          this.$parent.currentWindow = null;
          this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
          this.$parent.autoCenter();
        } else {
          this.$parent.putUserBack();
          this.$parent.getData('courts');
        }
      }
    },
    toggleLabels: function(event) {
      if (event) {
        if (this.$parent.toolsopen === false) {
          this.$parent.toolsopen = true;
        } else {
          this.$parent.toolsopen = false;
        }
      }
    },
    showUserLocation: function(event) {
      this.$parent.currenterror = null;
      this.$parent.resetPropertySearchPanel()
      if (event) {
        if (this.$parent.currentWindow === 'userlocation') {
          this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
          this.$parent.currentWindow = null;
          this.$parent.autoCenter();
        } else {
          this.$parent.putUserBack();
          this.$parent.currentWindow = 'userlocation';
          this.$parent.selectMarker('user', 15);
          this.$parent.setAttributeToNew('map', 'class', 'col-sm-9');
          this.$parent.autoCenter();
        }
      }
    },
    getCrimeData: function(event) {
      this.$parent.currenterror = null;
      this.$parent.resetPropertySearchPanel()
      if (this.$parent.currentWindow === 'crime') {
        this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
        this.$parent.currentWindow = null;
        this.$parent.autoCenter();
      } else {
        this.$parent.putUserBack();
        this.$parent.getData('crime');
      }
    },
    toggleAboutPanel(){
      this.$parent.currenterror = null;
      if(this.$parent.currentWindow === 'about'){
        this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
        this.$parent.currentWindow = null
      }else{
        this.$parent.currentWindow = 'about'
      }
    },
    getBroadBandData: function(event) {
      this.$parent.currenterror = null;
      this.$parent.resetPropertySearchPanel()
      if (this.$parent.currentWindow === 'broadband') {
        this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
        this.$parent.autoCenter();
        this.$parent.currentWindow = null;
      } else {

        this.$parent.putUserBack();
        this.$parent.getData('broadband');
      }
    },
    getSchools: function(event) {
      this.$parent.currenterror = null;
       this.$parent.resetPropertySearchPanel()
      if (this.$parent.currentWindow === 'schools') {
        this.$parent.setAttributeToNew('map', 'class', 'col-sm-12');
        this.$parent.currentWindow = null;
        this.$parent.autoCenter();
      } else {
        this.$parent.putUserBack();
        this.$parent.getData('schools');
      }
    },
    zoomIn: function(event) {
      if (event) {
        if (this.$parent.currentZoom <= this.$parent.maxZoom) {
          this.$parent.currentZoom++;
          window.map.setZoom(this.$parent.currentZoom);
        }
      }
    },
    zoomOut: function(event) {
      if (event) {
        if (this.$parent.currentZoom > this.$parent.minZoom) {
          this.$parent.currentZoom--;
          window.map.setZoom(this.$parent.currentZoom);
        }
      }
    }
  }
}
</script>
