<template>
  <div class="zooplafooter">
<a href="http://www.zoopla.co.uk" target="_blank"><img src="https://www.zoopla.co.uk/static/images/mashery/powered-by-zoopla-150x73.png" width="150" height="73" title="Property information powered by Zoopla" alt="Property information powered by Zoopla" border="0"></a>
  </div>
</template>
<script>
export default {
  mounted() {
    
  }
}
</script>
