// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600); // Variables
@import "variables"; // Bootstrap -- is this loading?
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body,
html {
  background-color: #666666;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.open .tools-btn {
  min-width: 130px;
  text-align: left;
  margin-top: 5px;
}

.closed .tools-btn {
  min-width: 40px;
  text-align: center;
  padding-right: 10px !important;
}

a {
  cursor: pointer;
  font-weight: bold;
}

#tools ul li a {
  color: rgba(255,255,255,0.7);
  display: block;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 3px;
  font-weight: normal;
  text-decoration: none;
}
#tools ul li a:hover {
  background-color: rgba(255,255,255,0.1);

}

#tools ul li {
  // margin-bottom: 10px;
}

#tools a i {
  font-size: 1.3em;
  margin-right: 5px;
}

ul.color-key-list li {
  margin-bottom: 5px;
}

.nowrap {
  white-space: nowrap;
}

.SixteenPlus {
  border-left: 10px solid #917eef;
}

.Notapplicable {
  border-left: 10px solid #ebb054;
}

.AllThrough {
  border-left: 10px solid #cc9191;
}

.Nursery {
  border-left: 10px solid #8dc3d4;
}

.MiddleDeemedPrimary,
.Primary {
  border-left: 10px solid #a7eabd;
}

.MiddleDeemedSecondary,
.Secondary {
  border-left: 10px solid #b9a7cf;
}

#postcode-region {
  font-size: 3em;
  font-weight: bold;
  margin-top: 0;
  line-height: 1;
}
.car-item-with-image-para{
  margin-left:110px;
}
.court-item,
.crime-item,
.property-item,
.car-item,
.school-item {
  margin: 0 0 5px;
  padding: 5px;
  position: relative;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.property-item-points {
  margin: 5px;
}

.offered-by {
  margin: 15px;
}

.property-image {
  overflow: hidden;
}

#salesform {
  margin-bottom: 10px;
}

.agent-phone {
  font-size: 1.2em;
}
.adzuna-brand{
  margin-left: 12px;
  text-align: right;
}
.property-item-links a {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255,255,255, 0.7)!important;
  display: inline-block;
  padding: 10px;
  width: 49.5%;
  text-align: center;
}
a.adzunalogo, #footer p a, #about-region a, #broadbandstats a{
  text-decoration: none;
  color:#bdd6bd;
}
a.adzunalogo:hover, #footer p a:hover, #about-region a:hover, #broadbandstats a:hover{
  text-decoration: none;
  color:#ffffff;
}
img.adzuna-logo{
  width:80px;
  height: auto;
  display: inline-block;
}

.agent-phone i.fa.fa-phone {
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.property-image img.property {
  width: 100%;
  height: auto;
}

img.agent-logo {
  position: absolute;
  left: 18px;
  top: 4px;
  width: 26%;
  height: auto;
}

.property-item p {
  margin: 0;
}

.property-item img {
  border-radius: 5px;
  margin: 0;
}

.price-modifier {
  text-transform: capitalize;
}

.tab-pane {
  margin-top: 15px;
}

.nav-tabs > li > a {
  color: rgba(255,255,255,0.7);
}

.nav-tabs > li > a:hover {
  color: rgba(0,0,0,0.7);
}

.crime-item {
  border-left: 10px solid rgba(255,255,255,0.2);
}

.crime-data,
.school-data {
  background-color: rgba(255,255,255,0.1);
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
}
.yes-icon {
  color: #6bf442;
}
.no-icon {
  color: #ff6854;
}
span.property-price {
  font-size: 1.6em;
  font-weight: normal;
  color: rgba(255,255,255,0.8);
}
span.property-name {
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  text-transform: capitalize;
}
span.court-name,
span.crime-name,
span.school-name {
  font-size: 1.1em;
  font-weight: bold;
  display: block;
  cursor: pointer;
  text-transform: capitalize;
}

.push-down {
  margin-top: 15px;
}

.crime-data p,
.school-data p {
  margin: 0;
}

.crime-data a,
.school-data a {
  color: rgba(255,255,255,0.6);
}

.right-label {
  margin-left: 60px;
}

.crime-data a i,
.school-data a i {
  margin-right: 5px;
  position: relative;
  top: 2px;
  font-size: 1.1em;
}

.crime-data a:hover,
.school-data a:hover {
  color: rgba(255,255,255,1);
  text-decoration: none;
}

.address-span {
  display: block;
}

#lat span,
#lng span,
#postcode span {
  font-weight: normal;
  font-size: 14px;
  font-weight: normal;
}
// #location-details {
//   position: absolute;
//   top: 10px;
//   right: 10px;
//   width: 300px;
//   display: block;
//   z-index: 1000;
// }

.muted {
  opacity: 0.3;
}

.nolocation {
  position: absolute;
  width: 100%;
  display: block;
}

.intro-region {
  padding: 10px 20px;
}

.intro-region h1 {
  color: rgba(255,255,255, 0.6);
}

.intro-region h2 {
  color: rgba(255,255,255, 0.8);
}

.intro-list {}

.intro-list li {
  margin-bottom: 8px;
}

.intro-list i {
  font-size: 1.2em;
  margin-right: 7px;
  color: rgba(255,255,255,1);
}
ul.map-list{
  width:95%;
  overflow: hidden;
}
ul.map-list li a{
  display:block;

text-decoration: none;
  border-radius: 6px;
  margin:5px;
  overflow: hidden;
  border:4px solid rgba(255,255,255,0.2);
background-color: rgba(255,255,255,0.2);
}
ul.map-list li a img{
  width: 100%;
  height:auto;
  border-radius: 6px;
}
ul.map-list li a span{
  background-color: rgba(255,255,255,0.2);
  color:rgba(0,0,0,0.3);
  display: block;
  padding-left: 7px;
  padding-top:4px;
}
ul.map-list li a.currentmap{
  border:4px solid rgba(255,255,255,0.7);
background-color: rgba(255,255,255,0.7);
}

ul.map-list li a.currentmap span{

  background-color:rgba(255,255,255,0.7);
  color:rgba(0,0,0,0.5);
  display: block;
  padding-left: 10px;
}
ul.map-list li a.currentmap i{
  font-size:1.3em;
  color:green;
}
.tooltip{
  text-transform: capitalize;
}
.transparent-swatch{
  background: url('../img/color_transparent.png')!important;
  color:rgba(0,0,0,1);
  font-weight:bold;
}
#broadbandstats,
#location-details, #maptype-details {
  z-index: 2000;
  background-color: #666666;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

#welcome-details, #about-region {
  z-index: 2000;
  background-color: #666666;
  color: white;
  position: absolute;
  right:0;
  top: 0;
  height: 100%;
}
#footer{
  position: absolute;
      margin: 0 auto;
      bottom: 0px;
      width: 100%;
      background-color: #666666;
      text-align: center !important;
}
h1.region-header {
  margin-top: -20px;
  font-size: 4em;
}

.dataregion-content {
  padding: 0 20px;
}

.scroller {
  height: 99vh;
  overflow-y: auto;
  padding-bottom: 50px;
}

.tools-list {
  margin-top: 10px;
}

.tools-list li a {
  padding-left: 10px;
  padding-right: 10px;
}

.tools-list li.active a, .tools-list li.active a:hover {
  background-color: white!important;
  color: #666666!important;
}


.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.panel-close-link {
  position: absolute;
  top: 5px;
  right: 10px;
  color: rgba(255,255,255,0.6);
}

.panel-close-link:hover {
  color: rgba(255,255,255,0.9);
}

.property-bed-picker-item,
.radius-picker-item {
  min-width: 10%;
  border-radius: 10px;
  margin-right: 10px;
  text-align: center;
  background-color: rgba(255,255,255,0.3);
  padding: 2px 4px 3px;
  cursor: pointer;
}

.property-bed-picker-item:hover,
.radius-picker-item:hover {
  background-color: rgba(255,255,255,0.7);
  color: rgba(0,0,0,0.7);
}

.property-bed-picker-item.selected,
.radius-picker-item.selected {
  background-color: #2ab27b;
  color: white;
}

#courtspanel,
#carpanel,
#crimespanel,
#propertypanel,
#schoolspanel {
  z-index: 2000;
  background-color: #666666;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.tab-pane a,
a.region-link {
  color: rgba(255,255,255,0.9);
}

.tab-pane a:hover,
a.region-link:hover {
  color: rgba(255,255,255,1);
}

h1 small {
  font-size: 0.3em;
  color: rgba(255,255,255,0.3);
}

h3 small {
  font-size: 0.7em;
  color: rgba(255,255,255,0.3);
}

.panel-body h1 {
  margin-top: 0;
}

.fade-transition {
  transition: opacity 0.2s ease;
}

.fade-enter,
.fade-leave {
  opacity: 0;
}

#tools {
  z-index: 3000;
  position: absolute;
  background-color: #666666;
  min-height: 100vh;
  left: 0;
  padding: 0;
  top: 0;
  width: auto;
}

#tools.closed {
  // padding-left: 15px;
  // padding-right: 15px;
}

#tools.closed ul li a span {
  display: none;
}

#app {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
}

#map {
  z-index: 1;
  background-color: #cccccc;
  display: block;
  height: 100%;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 22px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.6;
  text-decoration: none;
  color: rgba(255,255,255,0.7);
  background-color: transparent;
  border: none;
  margin-left: -1px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  z-index: 2;
  // font-size: 1.2em;
  font-weight: bold;
  color: white;
  // position: relative;
  // top:-2px;
  background: transparent;
  // border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  background-color: #2ab27b;
  border-color: #2ab27b;
  cursor: default;
  border-radius: 10px;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  color: rgba(255,255,255,0.2);
  background-color: transparent;
  border-color: #ddd;
  cursor: not-allowed;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.zooplafooter {
  background-color: #ffffff;
  text-align: right;
  opacity: 0.5;
}

.zooplafooter:hover {
  opacity: 1;
}
